body {
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.main-calculator{
    background-color: white;
    height: 600px;
    width: 400px;
    border-radius: 10px;

}